doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/socket.io.min.js')
  body
    img(src=data, style='width:850px')

    input(id='url', type='hidden', value=url)
    input(id='port', type='hidden', value=port)
    input(id='ip', type='hidden', value=ip)
    script(type='text/javascript', src='javascripts/page.js')