doctype html
html
  head
    meta(charset="utf-8")
    meta(name ="viewport",content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    title Lu主控制台
    link(rel="stylesheet", href="http://g.tbcdn.cn/thx/cube/1.2.1/neat-min.css")
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/mobile.css")
    script(type="text/javascript", src="../js/socket.io.min.js")
    script(type="text/javascript", src="../js/fastclick.js")
  body
    main
      .wait(style= flag ? "display:none" : "display:block")
        header
          h3
            strong #{name}
            ，伦家等你好久了
        p(class="wait-title") 告诉你个秘密哦，偶还没试过多 P 呢！
        div(id="message")
          <p>等待 Lu 友加入……</p>
      .begin(style= flag ? "display:block" : "display:none")
        header
          h3(class="user")
            strong #{name}
            主人，伦家是你的了(^o^)
        input(type="hidden")
        button(id="btn" class="btn-start btn-lagrge") 开始摸我
    script.
      var url = ['http://', '#{env.ip}', ':', '#{env.port}'].join('');
      var msgbox = document.querySelector('#message');
      var btn = document.querySelector('#btn');
      var wait = document.querySelector('.wait');
      var begin = document.querySelector('.begin');
      var socket = io.connect(url);
      socket.on('connection', function (data) {
        console.log('connected');
        socket.emit('join', {name: '#{name}', rejoin: ('#{rejoin}' === 'true')});
      });
      socket.on('message', function(data){
        msgbox.innerHTML += ("<p class='message-item'>" + data.msg + "</p>");
      });
      socket.on('game start', function(){
        console.log('game start');
        wait.style.display = 'none';
        begin.style.display = 'block';
      });

      window.addEventListener('load', function(e){
        FastClick.attach(btn);

        btn.addEventListener('click', function(e){
          e.stopPropagation();
          socket.emit('click', {name: '#{name}'});
        }, false);
      }, false);

      // 添加:active伪类
      document.addEventListener('touchstart', function(){}, false);

